[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "plotluck"]
	path = plotluck
	url = https://github.com/stefan-schroedl/plotluck
